= render partial: 'quick_add_form'

= render partial: 'list', locals: {todo_lists: @todo_lists, actions: [:edit, :archive]}

= link_to t('page.actions.new'), new_todo_list_path, class: 'uk-button uk-button-primary'
