.todo-list-section {
  @extend .uk-card;
  @extend .uk-card-default;
  @extend .uk-card-small;
  @extend .uk-background-muted;

  height: 100%;
  display: flex;
  flex-flow: column;

  > header {
    @extend .uk-card-header;
    @extend .uk-card-title;
  }

  > .todo-list-section-body {
    @extend .uk-card-body;
    margin: 0;
    flex: 1;

    > .todo-lists {
      height: 100%;
      margin-bottom: 0;
    }
  }
}

.todo-list-section-body {
  transition: background-color 1s;
}

.todo-list-drag {
  .todo-list-section-body {
    background-color: darken($global-muted-background, 5%);
  }
}

.todo-lists {
  margin-bottom: $global-small-gutter;
}

article.todo-list {
  @extend .uk-card;
  @extend .uk-card-default;
  @extend .uk-card-small;

  height: 100%;

  .uk-sortable-handle {
    display: inline-block;
  }

  > header {
    @extend .uk-card-header;
    @extend .uk-card-title;

    > .uk-iconnav {
      display: inline-flex;
      height: 1.4em;
      margin: 0;
      padding: 0;

      > li {
        margin-top: auto;
        margin-bottom: auto;
      }
    }
  }

  > section {
    @extend .uk-card-body;

    p {
      margin-bottom: 0;
    }

    ul {
      @extend .uk-list;
      @extend .uk-list-bullet;

      margin-top: $card-small-padding;
    }
  }
}

.todo-list-item {
  &.completed {
    color: lighten($global-color, 20%);
    text-decoration: line-through;
  }
}
